<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Classifier</title>
    <style>
        body { font-family: Arial, sans-serif; }
        #results { margin-top: 20px; display: flex; flex-wrap: wrap; gap: 20px; }
        .image-container { display: flex; flex-direction: column; align-items: center; width: 200px; }
        img { max-width: 150px; max-height: 150px; margin-bottom: 10px; }
        p { font-size: 14px; word-wrap: break-word; text-align: center; }
    </style>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/mouse.css">
</head>

<body>
    <h1>Image Classification</h1>
    <div id="file-input-container">
        <label for="file-input" class="file-upload-btn">
            <span>Upload Images</span>
        </label>
        <input type="file" id="file-input" name="files" accept="image/*" multiple>
        <p id="file-count" class="file-count">No files selected</p> <!-- 显示文件数量的段落 -->
        <button onclick="uploadImages()" id="start-predict-btn">Start Predict</button>
        <!-- 容器内部加载动画 -->
        <div id="loading-container" class="loading-container" style="display: none;">
            <div class="spinner"></div>
        </div>
    </div>
    <div id="results"></div>
    <script src="static/script.js"></script>
</body>

</html>
