<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Classifier</title>
    <style>
        body { font-family: Arial, sans-serif; }
        #results { margin-top: 20px; display: flex; flex-wrap: wrap; gap: 20px; }
        .image-container { display: flex; flex-direction: column; align-items: center; width: 200px; }
        img { max-width: 150px; max-height: 150px; margin-bottom: 10px; }
        p { font-size: 14px; word-wrap: break-word; text-align: center; }
    </style>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/ccomoe/library@main/cursor/mouse.css">
</head>
<body>
    <h1>Image Classification</h1>
    <div id="file-input-container">
        <label for="file-input">Upload Images</label>
        <input type="file" id="file-input" name="files" accept="image/*" multiple>
        <button onclick="uploadImages()">Start Predict</button>
    </div>

    <div id="results"></div>

    <script>
        function uploadImages() {
            const fileInput = document.getElementById('file-input');
            const files = fileInput.files;

            if (!files.length) {
                return alert("Please choose files to upload.");
            }

            const formData = new FormData();
            Array.from(files).forEach(file => formData.append('files', file)); // Use 'files' as name

            fetch('/predict', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                const resultsContainer = document.getElementById('results');
                resultsContainer.innerHTML = ''; // Clear previous results

                Object.entries(data).forEach(([filename, prediction]) => {
                    const container = document.createElement('div');
                    container.className = 'image-container';

                    const img = document.createElement('img');
                    img.src = `uploads/${filename}?${new Date().getTime()}`; // 加上当前时间戳作为查询参数
                    img.alt = filename;

                    const text = document.createElement('p');
                    text.textContent = `Filename: ${filename}\nPredicted: ${prediction}`;

                    container.appendChild(img);
                    container.appendChild(text);
                    resultsContainer.appendChild(container);
                });
            })
            .catch(error => {
                console.error('Error:', error);
                alert('An error occurred while uploading the files.');
            });
        }
    </script>
</body>
</html>
